{% extends "base.html" %}

{% block nav %}
  <ul class="nav nav-pills">
    <li class="nav-item fs-6"><a href="{{ url_for('index') }}"  class="nav-link active">Home</a></li>
  </ul>
{% endblock %}

{% block header %}
  {% block title %}Deployed Environments{% endblock %}
{% endblock %}

{% block content %}
  <table class="table">
    <tbody>
      {% if not vms %}
      <div class="container gy-5">
        <div class="row py-4">
          <div class="alert alert-secondary" role="alert">
            <p>No virtual machines are currently deployed. Create one to get started!</p>
            <a href="{{ url_for("virtual_machines.create_vm") }}" class="btn btn-primary">Create virtual machine</a>
          </div>
        </div>
      </div>
      {%  endif %}

      {% for vm in vms %}
        <tr>
          <td class="align-bottom" colspan="4">
            <div class="p-1">
              {{ vm["name"] }}
            </div>
          </td>
          <td>
            <div class="float-end p-1">
              <form action="{{ url_for('virtual_machines.delete_vm', id=vm['name']) }}" method="post">
                <input class="btn btn-sm btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
        <tr>
          <td colspan="5"><a href="{{ url_for("virtual_machines.create_vm") }}" class="btn btn-primary">Add environment</a></td>
        </tr>






    </tbody>
  </table>
{% endblock %}

